---
title: Pistes d'accompagnement
permalink: /accompagnements
layout: no-sidebar
image: 
image-alt: 
---

{% assign accs = accompagnements | group_by: "difficulty" %}
{{ accs }}
{% assign count = 1 %}
{% for accompagnement in accs %}

<h3>{{ accompagnement.name }}</h3>

{% for item in accompagnement.items %}

{% if item.youtube %}
{% assign link-array = item.youtube | split: "/" %}
{% assign youtube-id = link-array[3] %}
{% assign youtube-id-array = youtube-id | split: "?" %}
{% assign youtube-id = youtube-id-array[0] %}
{% assign thumbnail-link = youtube-id | prepend: "https://img.youtube.com/vi/" | append: "/hqdefault.jpg" %}
{% endif %}

{% if count == 1 %}<div class="row">{% endif %}
<div class="col-6 col-12-medium">
<h3><a href="{{ item.url | relative_url }}">{{ accompagnement.title }}</a></h3>
<img src="{{ thumbnail-link }}" alt="Youtube thumbnail" style="float:left; margin-right: 1rem;"/>
<p>Tonalité: {{ item.key }}</p>
</div>
{% if count == 2 %}</div>{% assign count = 1 %}{% else %}{% assign count = 2 %}{% endif %}


{% endfor %}
{% if count == 1 %}</div>{% endif %}
{% endfor %}