<footer id="footer" class="footer">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Mark Berthelemy</strong> <span>All Rights Reserved<br></span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <!--<a href=""><i class="bi bi-twitter-x"></i></a>-->
        <a href="{{ site.facebook }}"><i class="bi bi-facebook"></i></a>
        <!--<a href=""><i class="bi bi-instagram"></i></a>-->
        <a href="{{ site.linkedin }}"><i class="bi bi-linkedin"></i></a>
        <a href="mailto:mark.berthelemy@gmail.com" class="icon" target="_blank" title="Email"><i class="bi bi-envelope"></i></a>
        <a href="tel:+33662646657" class="icon" target="_blank" title="Téléphone"><i class="bi bi-telephone"></i></a>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>