<header id="header" class="header d-flex align-items-center light-background sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
      <img src="assets/img/logo.webp" alt="">
      <h1 class="sitename">{{ site.title }}</h1> 
    </a>

    {% include menu.html %}
      

      <div class="header-social-links">
        <a href="{{ site.facebook }}" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="{{ site.linked }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header>