---
layout: default
---


    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 align-items-center">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="hero-content">
              <h1 data-aos="fade-up" data-aos-delay="200">Bonjour, je suis <span class="highlight">Mark Berthelemy</span></h1>
              <h2 data-aos="fade-up" data-aos-delay="300"><span class="typed" data-typed-items="Musicien, Enseignant, Technologue"></span></h2>
              <p data-aos="fade-up" data-aos-delay="400">Rejoignez-moi pour explorer le monde de la création musicale à travers les instruments acoustiques et la technologie.</p>
              <div class="hero-actions" data-aos="fade-up" data-aos-delay="500">
                <a href="/a-propos" class="btn btn-primary">À propos</a>
                <a href="/contact" class="btn btn-outline">Contactez moi</a>
              </div>
              
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="hero-image" data-aos="zoom-in" data-aos-delay="300">
              <div class="image-wrapper">
                <img src="/images/pipe-37816_1280.png" alt="Jouer de la trompette" class="img-fluid">
                <div class="floating-elements">
                  <div class="floating-card design" data-aos="fade-left" data-aos-delay="700">
                    <i class="bi bi-music-note-beamed"></i>
                    <span>Jazz</span>
                  </div>
                  <div class="floating-card code" data-aos="fade-right" data-aos-delay="800">
                    <i class="bi bi-music-note-beamed"></i>
                    <span>Classique</span>
                  </div>
                  <div class="floating-card creativity" data-aos="fade-up" data-aos-delay="900">
                    <i class="bi bi-music-note-beamed"></i>
                    <span>Pop/Rock</span>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Hero Section -->
